:root {
  --gray-text: rgb(86, 86, 86);
  --background-highlight: rgb(8, 145, 178);
}

/*** TYPOGRAPHY & COLORS ***/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  overflow: hidden visible;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero__img,
.hero__img--desktop {
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
}

.hero__name {
  font-size: clamp(2rem, 15vw, 9rem);
  line-height: 1.2;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: min(12vw, 4rem);
}

h2 {
  font-size: min(6vw, 2rem);
}

.hero__background {
  background-color: var(--background-highlight);
}

.hero__text {
  color: var(--gray-text);
}

.hero__text,
.footer__text {
  font-size: min(6vw, 1.5rem);
}

.portfolio-item {
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
}

.portfolio-item__img-container:has(img[src="img/battleship.png"]) {
  background: white;
}

.portfolio-item__img-container:has(img[src="img/weather-forecast.png"]) {
  background: white;
}

.portfolio-item__img-container:has(img[src="img/todo-list.png"]) {
  background: #f6efee;
}

.portfolio-item__img-container:has(img[src="img/restaurant-page.png"]) {
  background: #0060a8;
}
.portfolio-item__img-container:has(img[src="img/library.png"]) {
  background: white;
}

.portfolio-item__img-container:has(img[src="img/tic-tac-toe.png"]) {
  background: #c4e5f5;
}

.portfolio-item__text {
  color: var(--gray-text);
}

.portfolio-item__text,
.footer__address,
.footer__phone,
.footer__mail {
  font-size: min(5vw, 1.25rem);
}

.footer__background {
  background-color: var(--background-highlight);
  color: white;
}

.footer__mail {
  color: white;
}

/*** LAYOUT ***/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 min(5vw, 3rem);
  max-width: 1200px;
}

.hero__background {
  position: absolute;
  z-index: -1;
  height: 120vw;
  width: 200vw;
  transform: translateX(-50vw) translateY(-50vw) rotate(-25deg);
}

.hero.container {
  margin-top: 2rem;
}

.hero__logo,
.footer__logo {
  width: 50px;
  height: auto;
}

.hero__img-container--desktop {
  display: none;
}

.hero__img-container {
  position: relative;
  padding: 1rem;
}

.hero__name {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  text-align: left;
}

h1 {
  text-align: center;
}

.hero__links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 6rem;
}

.portfolio__title {
  margin-bottom: 2rem;
}

.portfolio__content {
  display: grid;
  gap: 3rem 2rem;
}

.portfolio-item__img-container {
  display: none;
  width: 100%;
  aspect-ratio: 1 / 0.8;
  display: flex;
  align-items: center;
}

.portfolio-item__img-container + div {
  padding: 2rem;
}

.portfolio-item__bar {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.portfolio-item__bar > *:not(:first-child) {
  flex-shrink: 0;
}

.portfolio-item__title {
  margin: 0 auto 0 1rem;
}

.portfolio__logo {
  width: 2rem;
  height: auto;
}

.portfolio-item__text {
  margin-top: 1rem;
  min-height: 10rem;
}

.footer__background {
  margin-top: 3rem;
}

.footer__title {
  margin-top: 1rem;
}

.footer__text {
  margin-top: 1rem;
}

.footer__address {
  margin: 2rem 0;
}

div:has(> .footer__phone),
div:has(> .footer__mail) {
  display: flex;
  align-items: center;
}

.footer__logo--phone,
.footer__logo--mail {
  display: none;
}

.footer__links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.footer__img {
  display: none;
}

/*** BREAKPOINTS ***/

@media (max-width: 400px) {
  .portfolio-item__text {
    min-height: 8rem;
  }
}

@media (min-width: 800px) {
  .container {
    margin: 4rem;
  }

  .hero.container {
    margin-top: 9rem;
  }

  .hero__background {
    height: 5000px;
    transform: translateX(-500px) translateY(-4500px) rotate(-15deg);
  }

  .hero {
    padding: 6rem 2rem 2rem 2rem;
    display: block;
    background-color: white;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
  }

  .hero__img-container {
    padding: 0;
    width: 50%;
    max-width: 50%;
    float: left;
    margin-left: -4rem;
    margin-top: -12rem;
    margin-right: 1rem;
  }

  .hero__name {
    font-size: 4rem;
    bottom: auto;
    top: 0.5rem;
    left: 80%;
    width: 70vw;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .hero__links {
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: end;
  }

  .portfolio__title {
    align-self: start;
  }

  .portfolio__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__background {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer.container {
    flex-direction: row;
    gap: 2rem;
  }

  .footer__img--mobile {
    display: none;
  }

  .footer__img {
    display: block;
    width: 60%;
  }

  .footer__title {
    text-align: left;
    margin-top: 0;
  }

  .footer__links {
    margin-bottom: 0;
    justify-content: start;
  }
}

@media (min-width: 1150px) {
  .portfolio__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero.container {
    margin-top: 4rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hero {
    background: none;
    box-shadow: none;
  }

  .hero__content {
    flex: 1.1;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
  }

  .hero__title {
    text-align: left;
  }

  .hero__img-container--desktop {
    flex: 1;
    display: block;
    position: relative;
    max-width: 450px;
  }

  .hero__img-container {
    display: none;
  }

  .hero__name {
    font-size: 3rem;
    top: auto;
    bottom: 1rem;
    left: 2rem;
  }

  .footer.container {
    gap: 6rem;
  }
}
